<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7OAr3xZZ0ABPNg4d8kEgSxBdTp_qIX10</string>
	<key>GCM_SENDER_ID</key>
	<string>832193880569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rePr2Harikrushna2121.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-4519a</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-4519a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832193880569:ios:fc4e3efa6de2afaeca9d28</string>
</dict>
</plist>